
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
@model List<MyTierProject.Model.Option.Category>

<h2>List of categories</h2>
<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                
                <th colspan="2">Update / Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    
                    
                    <td>
                        <a href="/Admin/Category/Update/@item.ID">Update</a>
                        /
                        <a href="/Admin/Category/Delete/@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

